# Docker Compose configuration for setting up a Glances container

services:
  
  # Glances Container
  # refer here for additional parameters -> https://hub.docker.com/r/nicolargo/glances
  glances:
    # container image
    image: nicolargo/glances:latest
    # container name
    container_name: glances
    # container hostname
    hostname: glances-server
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # use host's PID namespace and process ID
    pid: host
    
    # Ports to be forwarded to host from container
    # ports:
    #  - 61208-61209:61208-61209                                           # Forward ports 61208-61209 to host (web UI)

    # environment variables for container
    environment:
      # set glances refresh rate in seconds and enable webserver mode
      - GLANCES_OPT=-w -t 16
    
    # volume mapping from host to container
    volumes:
      # bind /var/run/docker.sock from host to container
      - /var/run/docker.sock:/var/run/docker.sock
      # bind /etc/os-release from host to container (read only)
      - /etc/os-release:/etc/os-release:ro

    # Additional container capabilities
    cap_add:
      - NET_ADMIN                                                         # Apply additional linux capibilities (privileged container)
      - NET_RAW                                                           # Use RAW and PACKET sockets; bind to any address for transparent proxying.

    # container labels
    labels:
      - 'admins.chekuri.org=true'
    
    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.05'
          memory: 128m
        # minimum resource limits
        reservations:
          cpus: '0.01'
          memory: 16m

    # container health check
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:61208"]
      interval: 180s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 20s

  # oauth2-proxy container
  oauth2-proxy:
    # container image
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    # container name
    container_name: glances-oidc
    # container hostname
    hostname: ${HOST}
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # command to run on container start
    command: --config /oauth2-proxy.cfg
    
    # volume mapping from host to container
    volumes:
      # oauth application configuration
      - "./oauth2-proxy.cfg:/oauth2-proxy.cfg"
    
    # ports to be forwarded from host to container
    ports:
      # forwarding oauth2-proxy port to host
      - 6000:4180

    # container labels
    labels:
      - 'admins.chekuri.org=true'

    # container dependencies
    depends_on:
      # depends on glances container
      glances:
        # container must be healthy
        condition: service_healthy
    
    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.05'
          memory: 128m
        # minimum resource limits
        reservations:
          cpus: '0.01'
          memory: 32m