# Docker Compose configuration for setting up a Authentik and it's dependencies as containers
#
# This configuration pulls the following images from the specified repository
# - postgres : 16
# - authentik/server : 2025.10.2
# - authentik/worker : 2025.10.2
# refer for additional details - https://docs.goauthentik.io/install-config/install/docker-compose/
#
# Access authentik via http://127.0.0.1:1000 or https://127.0.0.1:1443
services:

  # Postgresql Container for storing authentik data
  postgresql:
    # container image
    image: docker.io/library/postgres:16-alpine
    # container name
    container_name: authentik-postgres
    # container hostname
    hostname: postgres
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # environment file to scan variables
    env_file:
    - .env
    
    # environment variables for container
    environment:
      POSTGRES_DB: ${PG_DB:-authentik}
      POSTGRES_PASSWORD: ${PG_PASS}
      POSTGRES_USER: ${PG_USER:-authentik}
    
    # container health check
    healthcheck:
      interval: 30s
      retries: 5
      start_period: 20s
      test:
      - CMD-SHELL
      - pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
      timeout: 5s

    # volume mapping from host to container
    volumes:
    - /srv/authentik/lib/postgres:/var/lib/postgresql
    - /srv/authentik/lib/postgres/data:/var/lib/postgresql/data

    # additional capabilities
    cap_add:
      # container should get some more processing time
      - SYS_NICE

    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '1'
          memory: 2048m
        # minimum resource limits
        reservations:
          cpus: '0.1'
          memory: 32m

    # container labels
    labels:
      - 'admins.chekuri.org=true'
  
  # Authentik Server Container
  server:
    # container image
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.10.2}
    # container name
    container_name: authentik
    # container hostname
    hostname: authentik
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # command to run Authentik in server mode
    command: server

    # container depencencies
    depends_on:
      # depends on Postgresql container
      postgresql:
        # postgresql health should be healthy
        condition: service_healthy
    
    # environment file to scan variables
    env_file:
    - .env

    # environment variables for container
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    
    # ports to be forwarded from host to container
    ports:
    # authentik server web interface port (HTTP)
    - ${COMPOSE_PORT_HTTP:-1000}:9000
    # authentik server web interface port (HTTPS)
    - ${COMPOSE_PORT_HTTPS:-1443}:9443
    
    # volume mapping from host to container
    volumes:
    - /srv/authentik/media:/media
    - /srv/authentik/custom-templates:/templates

    # additional capabilities
    cap_add:
      # container should get some more processing time
      - SYS_NICE

    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '1.5'
          memory: 2048m
        # minimum resource limits
        reservations:
          cpus: '0.1'
          memory: 64m

    # container labels
    labels:
      - 'admins.chekuri.org=true'

    # container health check
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000"]
      interval: 120s
      timeout: 5s
      retries: 3
      start_period: 60s
      start_interval: 20s

  # Authentik Worker Container 
  # responsible for performing background tasks
  worker:
    # container image
    image: ${AUTHENTIK_IMAGE:-ghcr.io/goauthentik/server}:${AUTHENTIK_TAG:-2025.10.2}
    # container name
    container_name: authentik-worker
    # container hostname
    hostname: authentik-worker
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # command to run Authentik in worker mode
    command: worker

    # container depencencies
    depends_on:
      # depends on Postgresql container
      postgresql:
        # postgresql health should be healthy
        condition: service_healthy    
    
    # environment file to scan variables
    env_file:
    - .env
    
    # environment variables for container
    environment:
      AUTHENTIK_POSTGRESQL__HOST: postgresql
      AUTHENTIK_POSTGRESQL__NAME: ${PG_DB:-authentik}
      AUTHENTIK_POSTGRESQL__PASSWORD: ${PG_PASS}
      AUTHENTIK_POSTGRESQL__USER: ${PG_USER:-authentik}
      AUTHENTIK_SECRET_KEY: ${AUTHENTIK_SECRET_KEY}
    
    # container's default user
    user: root
    
    # volume mapping from host to container
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - /srv/authentik/media:/media
    - /srv/authentik/certs:/certs
    - /srv/authentik/custom-templates:/templates

    # additional capabilities
    cap_add:
      # container should get some more processing time
      - SYS_NICE

    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '1.5'
          memory: 2048m
        # minimum resource limits
        reservations:
          cpus: '0.1'
          memory: 64m

    # container labels
    labels:
      - 'admins.chekuri.org=true'