# Docker Compose configuration for setting up a Proxmox Backup Server container
#
# Proxmox backup server is accessible at -> http://127.0.0.1:7000
services:
  
  # PBS Container
  # refer here for additional parameters -> https://github.com/ayufan/pve-backup-server-dockerfiles?tab=readme-ov-file
  pbstape:
    # container image
    image: ayufan/proxmox-backup-server:v4.0.21-1
    # container name
    container_name: pbstape
    # container hostname
    hostname: ${HOST}
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # ports to be forwarded from host to container
    ports:
      # Forward proxmox backup server container port
      # 8007 (port on which actual service is running)
      # to host network
      - '7000:8007'

    # environment variables for the container
    environment:
      # set timezone
      TZ: Asia/Kolkata
    
    # volume mapping from host to container
    volumes:
      - /srv/pbs/etc:/etc/proxmox-backup
      - /srv/pbs/logs:/var/log/proxmox-backup
      - /srv/pbs/lib:/var/lib/proxmox-backup
    tmpfs:
      # mandatory since proxmox-backup-server v2.1.x
      - /run
    
    # additional container capabilities
    cap_add:
      # smartctl support
      - SYS_RAWIO
      # apply additional linux capibilities (privileged container)
      - NET_ADMIN
      # use RAW and PACKET sockets; bind to any address for transparent proxying.
      - NET_RAW
    devices:
      # map your storage device for systemctl support
      - /dev/nvme0n1
    
    # container labels
    labels:
      - 'admins.chekuri.org=true'
    
    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.5'
          memory: 4096m
        # minimum resource limits
        reservations:
          cpus: '0.1'
          memory: 16m

    # container health check
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8007"]
      interval: 120s
      timeout: 5s
      retries: 3
      start_period: 30s
      start_interval: 20s