# Docker Compose configuration for setting up dozzle container
#
# This service will be responsible for quickly
# accessing logs for docker containers
#
# Dozzle would be accessible at -> http://localhost:2000
#
# NOTE: Please be sure to set ./oauth2-proxy.cfg
services:
  
  # dozzle container
  #
  # refer here for additional parameters -> https://dozzle.dev/guide/getting-started
  dozzle:
    # container image
    image: amir20/dozzle:latest
    # container name
    container_name: dozzle
    # container host
    hostname: dozzle

    # restart the container unless manually stopped
    restart: unless-stopped

    # volume mapping from host to container
    volumes:
      # map host's docker socker to container's docker socket
      - /var/run/docker.sock:/var/run/docker.sock

    # Ports to be forwarded to host from container
    ports:
      # forwarding dozzle application port
       - 3080:8080
    
    # environment variable for container
    environment:
      # uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      DOZZLE_ENABLE_ACTIONS: true
      
      # uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      DOZZLE_ENABLE_SHELL: true
      
      # opting out of dozzle digital ocean analytics
      DOZZLE_NO_ANALYTICS: true
      
      # Uncomment to add remote hosts
      # DOZZLE_REMOTE_HOST: tcp://167.99.1.1:2376,tcp://167.99.1.2:2376
    
    # container labels
    labels:
      - 'admins.chekuri.org=true'

    # container health check
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 120s
      timeout: 5s
      retries: 5
      start_period: 30s

    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.10'
          memory: 256m
        # minimum resource limits
        reservations:
          cpus: '0.05'
          memory: 64m

  # oauth2-proxy container
  dozzle-oauth2-proxy:
    # container image
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    # container name
    container_name: dozzle-oauth2-proxy
    # container hostname
    hostname: ${HOSTNAME}
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # command to run on container start
    command: --config /oauth2-proxy.cfg
    
    # volume mapping from host to container
    volumes:
      # oauth application configuration
      - "./oauth2-proxy.cfg:/oauth2-proxy.cfg"
    
    # ports to be forwarded from host to container
    ports:
      # forwarding oauth2-proxy port (4180) to host (2000)
      - 3000:4180

    # container labels
    labels:
      - 'admins.chekuri.org=true'

    # container depencencies
    depends_on:
      # depends on dozzle container
      dozzle:
        # container should be healthy
        condition: service_healthy
    
    # container health check
    healthcheck:
      test: 'netstat -ltn | grep -c ":4180"'
      interval: 120s
      timeout: 15s
      retries: 3
      start_period: 60s
      start_interval: 30s
    
    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.05'
          memory: 128m
        # minimum resource limits
        reservations:
          cpus: '0.01'
          memory: 32m