# Docker Compose configuration for setting up dozzle container
#
# This service will be responsible for quickly
# accessing logs for docker containers
services:
  
  # dozzle container
  #
  # refer here for additional parameters -> https://dozzle.dev/guide/getting-started
  dozzle:
    image: amir20/dozzle:latest                               # container image
    container_name: dozzle                                    # container name
    hostname: ${HOST}                                         # container hostname

    restart: unless-stopped                                   # Restart the container unless manually stopped

    # Volume mapping
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock             # map host's docker socker to container's docker socket

    # Ports to be forwarded to host from container
    # ports:
    #   - 8080:8080                                             # forwarding dozzle port
    
    # Environment variable to configure dozzle service behavior
    environment:
      # Uncomment to enable container actions (stop, start, restart). See https://dozzle.dev/guide/actions
      DOZZLE_ENABLE_ACTIONS: true
      
      # Uncomment to allow access to container shells. See https://dozzle.dev/guide/shell
      DOZZLE_ENABLE_SHELL: true
      
      # Opting out of dozzle digital ocean analytics
      DOZZLE_NO_ANALYTICS: true
      
      # Uncomment to enable authentication. See https://dozzle.dev/guide/authentication
      DOZZLE_AUTH_PROVIDER: forward-proxy
      DOZZLE_AUTH_HEADER_USER: X-Forwarded-User
      DOZZLE_AUTH_HEADER_EMAIL: X-Forwarded-Email
      DOZZLE_AUTH_HEADER_NAME: X-Forwarded-Preferred-Username
      
      # Uncomment to add remote hosts
      # DOZZLE_REMOTE_HOST: tcp://167.99.1.1:2376,tcp://167.99.1.2:2376
    
    # healthcheck for dozzle
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: 3s
      timeout: 30s
      retries: 5
      start_period: 30s

    # Deployment (docker compose up) settings
    deploy:
      # Set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.10'
          memory: 256m
        # minimum resource limits
        reservations:
          cpus: '0.05'
          memory: 64m

  # oauth2-proxy container
  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest           
    container_name: dozzle-oidc                               # container name
    hostname: ${HOST}                                         # container hostname
    
    restart: unless-stopped                                   # Restart the container unless manually stopped
    
    command: --config /oauth2-proxy.cfg                       # command to run on container start
    
    # volume mapping
    volumes:
      - "./oauth2-proxy.cfg:/oauth2-proxy.cfg"                # oauth application configuration
    
    # ports to be forwarded from host to container
    ports:
      - 8080:4180                                             # forwarding oauth2-proxy port to host

    # Depencencies of Authentik Server Container
    depends_on:
      dozzle:                                                 # Depends on Postgres Server's
        condition: service_healthy                            # health check to be successful
    
    # Deployment (docker compose up) settings
    deploy:
      # Set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.05'
          memory: 128m
        # minimum resource limits
        reservations:
          cpus: '0.01'
          memory: 32m