# Docker Compose configuration for setting up Frigate container
# More info at https://docs.frigate.video/frigate/installation/

services:
  # Frigate
  frigate:
    # container image
    image: ghcr.io/blakeblackshear/frigate:stable
    # container name
    container_name: frigate
    # container hostname
    hostname: frigate
    
    # restart the container unless manually stopped
    restart: unless-stopped
    # grace period for container to stop
    stop_grace_period: 30s

    # Ports to forward (host <-> container)
    ports:
      - "8971:8971" # WebUI
      - "8554:8554" # RTSP feeds

    volumes:
      # config directory configuration
      - config-directory:/config
      # storage volume configuration
      - storage-directory:/media/frigate
      # Optional: 1GB of memory, reduces SSD/SD Card wear
      - type: tmpfs
        target: /tmp/cache
        tmpfs:
          size: 1000000000
      

    # uncomment for GPU passthrough
    # devices:
      # replace with your GPU's path
      # - /dev/dri/renderD129:/dev/dri/renderD129

volumes:
  config-directory:
      driver: local
      driver_opts:
        type: none
        device: ${CONFIG_DIRECTORY:-/srv/frigate/}
        o: bind
  storage-directory:
    driver_opts:
      type: nfs
      # replace with your NFS Share's IP
      o: addr=${NFS_IP:?Mandatory property},nfsvers=4,auto,nofail,noatime,nolock,intr,tcp,actimeo=1800
      # replace with your NFS Share's Path
      device: ${NFS_PATH:?Mandatory property, please include :}