# Docker Compose configuration for setting up a Watchtower container
#
# Watchtower will be responsible for monitoring containers and if
# there are any new builds available then update the containers
#
# To enable watchtower to auto update containers please add the following to docker-compose
#        labels:
#          - "com.centurylinklabs.watchtower.enable=true"
#
# To monitor and only send notification please add the following to docker-compose
#        labels:
#          - "com.centurylinklabs.watchtower.monitor-only=true"
#          - "com.centurylinklabs.watchtower.enable=true"
services:
  # Watchtower container
  watchtower:
    image: containrrr/watchtower:latest                                   # Pull the latest version of the Tailscale image
    container_name: watchtower                                            # Name of the tailscale container
    hostname: ${HOST:?Please set a proper hostname}                       # Hostname for the tailscale container
    
    restart: unless-stopped                                               # Restart the container unless manually stopped
    
    # Volume mapping for docker from host to container
    # Required for fetching container props from host's docker
    # containers
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock