# Docker Compose configuration for setting up Netdata container

services:
  
  # Netdata container
  # refer here for additional parameters -> https://learn.netdata.cloud/docs/netdata-agent/installation/docker
  netdata:
    image: netdata/netdata:latest                         # Pull the latest build of netdata image
    container_name: netdata                               # name of the container
    hostname: ${HOSTNAME}                                 # Hostname for the tailscale container
    
    restart: unless-stopped                               # Restart the container unless manually stopped
    
    pid: host                                             # use host's PID namespace and process ID
    network_mode: host                                    # Use the host network (no isolation between host and container)
    
    # Ports to be forwarded to host from container
    ports:
      # This line makes Actual available at port 5006 of the device you run the server on,
      # i.e. http://localhost:19999. You can change the first number to change the port, if you want.
      - '19999:19999'

    # Additional Capabilities
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    
    # Security Options
    security_opt:
      - apparmor:unconfined                               # set apparmor profile to be unconfined

    # Volume configuration for netdata
    volumes:
      - /var/etc/netdata:/etc/netdata                     # netdata configuration
      - /var/lib/netdata:/var/lib/netdata                 # netdatada library
      - /var/cache/netdata:/var/cache/netdata             # netdata cache
      - /:/host/root:ro,rslave                            # map host's / to container
      - /etc/passwd:/host/etc/passwd:ro                   # map host's /etc/passwd to container
      - /etc/group:/host/etc/group:ro                     # map host's /etc/group to container
      - /etc/localtime:/etc/localtime:ro                  # map host's /etc/localtime to container
      - /proc:/host/proc:ro                               # map host's /proc to container
      - /sys:/host/sys:ro                                 # map host's /sys to container
      - /etc/os-release:/host/etc/os-release:ro           # map host's /etc/os-release to container
      - /var/log:/host/var/log:ro                         # map host's /var/log to container
      - /var/run/docker.sock:/var/run/docker.sock:ro      # map host's docker socket to container
      - /run/dbus:/run/dbus:ro                            # map host's /run/dbus to container

    # Netdata environment config to link instance with netdata cloud
    environment:
      - NETDATA_CLAIM_TOKEN=${CLAIM_TOKEN:?Netdata claim token is mandatory}
      - NETDATA_CLAIM_URL=https://app.netdata.cloud
      - NETDATA_CLAIM_ROOMS=${CLAIM_ROOMS:?Netdata claim room}

    # Whatsupdocker tracking
    labels:
      - 'wud.tag.include=latest'
      - 'wud.watch.digest=true'

    # Deployment (docker compose up) settings
    deploy:
      # Set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.10'
          memory: 512m
        # minimum resource limits
        reservations:
          cpus: '0.05'
          memory: 128m