# Docker Compose configuration for setting up a Gatus container
#
# This container will be responsible for monitoring services are
# up and running
#
# This service would be accessible at -> http://localhost:7000
services:
  
  # Gatus Container
  # refer here for additional parameters -> https://github.com/TwiN/gatus/tree/master/.examples/docker-compose-grafana-prometheus
  gatus:
    # container image
    image: twinproduction/gatus:latest
    # container name
    container_name: gatus
    # container hostname
    hostname: ${HOST}
    
    # restart the container unless manually stopped
    restart: unless-stopped  
    
    # ports to be forwarded to host from container
    ports:
      # forwarding application port
      - 3080:8080

    # volume mapping from host to container
    volumes:
      # config file mapping
      - ./config:/config

    # container labels
    labels:
      - 'admins.chekuri.org=true'  
    
    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '0.1'
          memory: 512m
        # minimum resource limits
        reservations:
          cpus: '0.05'
          memory: 16m

    # container health check
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 120s
      timeout: 15s
      retries: 3
      start_period: 60s
      start_interval: 30s
