# Docker Compose configuration for setting up a Tailscale container
#
# This configuration pulls the latest Tailscale image from the specified repository
# and includes options for logging, automatic updates using Watchtower, health checks, and volume mounting.
#
# Access your device at -> https://login.tailscale.com/admin/machines
services:
  
  # Tailscale Container
  # refer here for additional parameters -> https://tailscale.com/kb/1282/docker
  tailscale:
    # container image
    image: tailscale/tailscale:latest
    # container name
    container_name: tailscale
    # container host
    hostname: ${HOST}
    
    # restart the container unless manually stopped
    restart: unless-stopped
    
    # use the host network (no isolation between host and container)
    network_mode: host                                                    

    # environment variables container
    environment:
      # Authkey required to login to tailscale
      TS_AUTHKEY: ${TAILSCALE_AUTHKEY}
      # Tailscale state directory
      TS_STATE_DIR: /var/lib/tailscale
      # Tailscale should use run in user space and not use kernel space
      #   - if userspace true, cannot make outbound connections from tailscale
      TS_USERSPACE: true
    
    # volume mapping from host to container
    volumes:
      - /var/lib:/var/lib
      - /srv/tailscale:/var/lib/tailscale

    # devices exposed from host to the container
    devices:
      # expose container's tunnel to host
      - /dev/net/tun:/dev/net/tun
    
    # additional container capabilities
    cap_add:
      # network admin privilege (privileged container)
      - NET_ADMIN
      # use RAW and PACKET sockets; bind to any address for transparent proxying.
      - NET_RAW
      # container should get some more processing time
      - SYS_NICE

    # container labels
    labels:
      - 'admins.chekuri.org=true'
    
    # deployment (docker compose up) settings
    deploy:
      # set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '2'
          memory: 512m
        # minimum resource limits
        reservations:
          cpus: '0.2'
          memory: 32m

    # container health check
    healthcheck:
      # check if tailscale version command works
      test: ["CMD", "tailscale", "ip"]
      # time between health check attempts
      interval: 60s
      # time to wait for a response
      timeout: 5s
      # number of retries before marking as unhealthy
      retries: 3
      # delay before health checks begin
      start_period: 10s