# Docker Compose configuration for setting up a Tailscale container
#
# This configuration pulls the latest Tailscale image from the specified repository
# and includes options for logging, automatic updates using Watchtower, health checks, and volume mounting.

services:
  
  # Tailscale Container
  # refer here for additional parameters -> https://tailscale.com/kb/1282/docker
  tailscale:
    image: tailscale/tailscale:latest                                     # Pull the latest version of the Tailscale image
    container_name: tailscale                                             # Name of the tailscale container
    hostname: ${HOST}                                                     # Hostname for the tailscale container
    
    restart: unless-stopped                                               # Restart the container unless manually stopped
    
    # use host network
    network_mode: host                                                    # Use the host network (no isolation between host and container)

    # Ports to be forwarded to host from container
    ports:
      # This line makes Actual available at port 5006 of the device you run the server on,
      # i.e. http://localhost:5006. You can change the first number to change the port, if you want.
      - '5006:5006'

    # Environment variables for Tailscale service
    environment:
      - TS_AUTHKEY=${TAILSCALE_AUTHKEY:?tailscale auth key required}      # Authkey required to login to tailscale
      - TS_STATE_DIR=/var/lib/tailscale                                   # Tailscale directory
      - TS_USERSPACE=true                                                 # Tailscale should use run in user space and not use kernel space
                                                                          #   - if userspace true, cannot make outbound connections from tailscale
    
    # Volume configuration for tailscale data + configuration directory
    volumes:
      - /var/lib:/var/lib
      - /var/lib/tailscale:/var/lib/tailscale

    # Devices exposed from host to the container
    devices:
      - /dev/net/tun:/dev/net/tun                                         # Tunnel from host to container
    
    # Additional container capabilities
    cap_add:
      - NET_ADMIN                                                         # Apply additional linux capibilities (privileged container)
      - NET_RAW                                                           # Use RAW and PACKET sockets; bind to any address for transparent proxying.
      - SYS_NICE                                                          # Tailscale should get some more processing time

    # docking-station tracking
    labels:
      - 'com.loolzzz.docking-station.enabled=true'
    
    # Deployment (docker compose up) settings
    deploy:
      # Set resource limits
      resources:
        # maximum resource limits
        limits:
          cpus: '2'
          memory: 512m
        # minimum resource limits
        reservations:
          cpus: '0.2'
          memory: 32m

    # Health check configuration to verify Cloudflare Tunnel readiness
    healthcheck:
      test: ["CMD", "tailscale", "ip"]                # Check if tailscale version command works
      interval: 30s                                   # Time between health check attempts
      timeout: 10s                                    # Time to wait for a response
      retries: 3                                      # Number of retries before marking as unhealthy
      start_period: 10s                               # Delay before health checks begin