# Docker Compose configuration for setting up a Whatsupdocker container
#
# This service will be responsible for monitoring and updating docker images
# and restarting containers with new docker image builds
services:
  # Whatsupdocker container
  whatsupdocker:
    image: getwud/wud:latest                            # Pull the latest version of the Tailscale image
    container_name: whatsupdocker                       # Name of the tailscale container
    hostname: ${HOST:?FQDN associated with container}   # Hostname for the tailscale container
    
    restart: unless-stopped                             # Restart the container unless manually stopped
    
    environment:
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTID=${OIDC_AUTHENTIK_CLIENTID:?paste the Client ID from authentik ruby-wud provider}
      - WUD_AUTH_OIDC_AUTHENTIK_CLIENTSECRET=${OIDC_AUTHENTIK_CLIENTSECRET:?paste the Client Secret from authentik ruby-wud provider}
      - WUD_AUTH_OIDC_AUTHENTIK_DISCOVERY=${OIDC_AUTHENTIK_DISCOVERY:?<authentik_url>/application/o/<authentik_application_name>/.well-known/openid-configuration}
      - WUD_AUTH_OIDC_AUTHENTIK_REDIRECT=true           # optional (to skip internal login page)

    # Map volumes from host to container
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock       # Mapping host's docker socket to container's docker socket
    
    # Ports to expose to host from container
    ports:
      - 3000:3000                                       # Whatsupdocker Application port

    # Healthcheck for whatsupdocker
    healthcheck:
      test: curl --fail http://localhost:${WUD_SERVER_PORT:-3000}/health || exit 1
      interval: 10s
      timeout: 10s
      retries: 3
      start_period: 10s

    # Labels to track whatsupdocker to check for changes
    labels:
      - 'wud.tag.include=^\d+\.\d+\.\d+$$'
      - 'wud.link.template=https://github.com/getwud/wud/releases/tag/$${major}.$${minor}.$${patch}'