# Docker Compose configuration for setting up a Proxmox Backup Server container

services:
  
  # PBS Container
  # refer here for additional parameters -> https://tailscale.com/kb/1282/docker
  pbstape:
    image: ayufan/proxmox-backup-server:v4.0.21-1                         # Pull the latest version of the Tailscale image
    container_name: pbstape                                               # Name of the tailscale container
    hostname: ${HOST}                                                     # Hostname for the tailscale container
    mem_limit: 3G                                                         # Maximum memory limit for the container
    
    restart: unless-stopped                                               # Restart the container unless manually stopped
    
    # Ports to be forwarded to host from container
    ports:
      # Forward proxmox backup server container port
      # 8007 (port on which actual service is running)
      # to host network
      - '8007:8007'

    # Environment variables associated to PBS
    environment:
      TZ: Asia/Kolkata                                                    # set timezone to IST
    
    # Volume configuration for tailscale data + configuration directory
    volumes:
      - /srv/pbs/etc:/etc/proxmox-backup                                  # mapping for /etc/proxmox-backup of container to host /srv/pbs/etc
      - /srv/pbs/logs:/var/log/proxmox-backup                             # mapping for /var/logs/proxmox-backup of container to host /srv/pbs/lohs
      - /srv/pbs/lib:/var/lib/proxmox-backup                              # mapping for /var/lib/proxmox-backup of container to host /srv/pbs/lib
    tmpfs:
      - /run                                                              # mandatory since proxmox-backup-server v2.1.x
    
    # Additional container capabilities
    cap_add:
      - SYS_RAWIO                                                         # smartctl support
      - NET_ADMIN                                                         # Apply additional linux capibilities (privileged container)
      - NET_RAW                                                           # Use RAW and PACKET sockets; bind to any address for transparent proxying.
    devices:
      - /dev/nvme0n1                                                      # map your storage device for systemctl support
    
    # Container labels for additional metadata
    labels:
      - "com.centurylinklabs.watchtower.enable=true"                      # Enable automatic updates with Watchtower